*.tar
*.zip
*.gzip
*.gz
*.DS_Store
/conf
/data
/php
/nginx
/ssl
/log
/web/rrd
/test/setup/dropletId
/test/setup/token
/test/setup/password
/test/setup/ip_address
/install/os-configs_test
.vscode
.DS_Store
